rtl
modelsim.ini
transcript
verilog_libs
*.ucdb
covhtmlreport
output_files
*~
*.wlf
*.bak
db
incremental_db
buildtime
*.log
*sim_coverage
*sim_mode
*time.tmp
*time_script.sh
*now
*pid
*combined_coverage.html
*junit_report.xml
*regression_log
regression/log
regression/vcs/*.conf
regression/vcs/vdCovLog
verif/dep/commmon
design/chs
design/dw
design/merge
design/*
verif/tests_bk
verif/run_cfg/vcs_mx
verif/run_cfg/verdi_config_file
verif/run_cfg/synopsys_sim.setup
